@media (max-width: 1200px) {

    /* Section-1 */
    .section-1 .nav-section .navbar-header .navbar-toggle {
        background-color: #282A3A;
    }

    .cont2-bbutton button {
        margin: 63px 27px 0px 0px;
        font-size: 18px;
    }

    .cont2-lside {
        margin-top: 40px;
    }

    .cont2-lside .cont2-tbutton {
        padding: 15px 40px 14px 38px;
        font-size: 22px;
    }

    .cont2-lside p {
        font-family: 'Raleway', sans-serif;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 60px;
        margin-bottom: 31px;
    }

    .cont2-lside span {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: #FFFFFF;
        font-size: 22px;
    }

    /* section-3 */
    .cont2-text-l {
        font-size: 18px;
        margin-left: 15px;
    }

}



@media (max-width:992px) {

    /* section-1 */
    .logo {
        height: 50px;
        width: 100px;
    }

    .section1-nav ul li a {
        padding: 10px;
    }

    div.cont-2-img {
        text-align: center;
    }

    div.cont-2-img img {
        margin-top: 70px;
        width: 90%;
    }

    .cont2-lside {
        margin-top: 0px;
        text-align: center;
    }

    .section-1-cont-2 .container .row {
        margin-top: 100px;
    }


    /* section-2 */
    .section-2-p {
        margin-top: 70px;
    }


    /* section-3 */
    .cont2-text-l {
        font-size: 18px;
        margin-left: 15px;
    }

    /* section-4 */
    .section-4 .container .row img {
        width: 100%;
    }

    .section4-dl {
        text-align: center;
        margin-top: 70px;
    }

    /* section-5 */

    /* section-7 */
    .section7-cont2 .container .row .thumbnail {
        margin-top: 35px;
    }

    /* section-8 */

    /* .section-8 {
        text-align: center;
    } */

    .section8-lp-p {
        font-size: 25px;
    }

    .section8-cont2 {
        padding-top: 60px;
    }
}



@media (max-width:768px) {

    /* section-1 */
    .logo {
        margin-left: 20px;
    }

    /* section-2 */

    .section-2 .container .row {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* section-3 */
    .section-3 {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* section-4 */
    .section-4 {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* section-5 */
    .section-5 {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* section-6 */
    .section-6 {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* section-7 */
    .section-7 {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* section-8 */
    .section-8 {
        padding-left: 15px;
        padding-right: 15px;
    }
}



@media (max-width:575px) {

    /* section-1 */
    .cont2-bbutton button {
        margin: 57px 20px 0px 0px;
        font-size: 18px;
    }
    
    .cont2-bbutton button[type="submit"] {
        background-color: #F87C58;
        padding: 15px 21px;
    }
    
    .cont2-bbutton button[type="reset"] {
        padding: 15px 49px 15px 49px;
    }
    
    /* section-2 */
    .section2-side-part {
        width: 170px;
        height: 160px;
        padding: 54px 48px 27px 32px;
    }

    .section2-side-part h2 {
        font-size : 22px;
    }

    .section2-bbutton button[type="submit"] {
        background-color: #F87C58;
        padding: 15px 34px;
        font-size: 18px;
    }
    
    .section2-bbutton button[type="reset"] {
        padding: 15px 25px 15px 26px;
        font-size: 18px;
    }

}